6 9-16 * * 2-4 cd ~/observe/code/go/src/observe/compiler/parser/docs && find . -type f -name '*description.md' -exec awk 'FNR > 1 {nextfile} length >=125 {print FILENAME}' {} + > /Users/jack.coates/Downloads/opal-docs-long-description.txt  && [ -s /Users/jack.coates/Downloads/opal-docs-long-description.txt ] || rm /Users/jack.coates/Downloads/opal-docs-long-description.txt
7 9-16 * * 2-4 cd ~/observe/code/go/src/observe/compiler/parser/docs && find . -type f -name '*description.md' -exec awk 'FNR > 1 {nextfile} /\./ && length <=125 && /^([^\.?]{1,125})([\.?][^ \n])/ {print FILENAME}' {} + > /Users/jack.coates/Downloads/opal-docs-special-character-problems.txt && [ -s /Users/jack.coates/Downloads/opal-docs-special-character-problems.txt ] || rm /Users/jack.coates/Downloads/opal-docs-special-character-problems.txt
8 9-16 * * 2-4 cd ~/observe-docs/docs/content/ && find . -name "*.png" -exec basename {} \; > /tmp/docsimagefileslist.txt && rg -v -f /tmp/docsimagefileslist.txt -t markdown . | grep png | grep -v static | grep -v assets\.observeinc\.com > /Users/jack.coates/Downloads/junk-images.txt && rm /tmp/docsimagefileslist.txt && [ -s /Users/jack.coates/Downloads/junk-images.txt ] || rm /Users/jack.coates/Downloads/junk-images.txt
25 10 * * 4 /Users/jack.coates/.pyenv/shims/linkchecker -t 50 --check-extern --ignore-url=github\.com\/observeinc\/observe-docs\/edit -o failures https://docs.observeinc.com/en/latest/ 1>/dev/null > /Users/jack.coates/Downloads/linkchecker-docs.txt
35 13 * * 4 /Users/jack.coates/.pyenv/shims/linkchecker -t 50 --check-extern --ignore-url=www\.observeinc\.com\/wp-json\/wp\/v2\/users\/ -o failures https://www.observeinc.com/blog/ 1>/dev/null > /Users/jack.coates/Downloads/linkchecker-blog.txt
